section.estate
  .container
    .estate-wrapper
      h2.title
        | С какой недвижимостью мы работаем?
      .estate-items
        .estate-item.estate-item-wide.wow.fadeInUp(data-wow-duration='1s')
          .estate-content
            p
              | Мы занимаемся строительством, обустройством и ремонтом помещений для 
              | бизнеса разных направлений, независимо от состояния  и параметров объекта.
        //- .wow.fadeInUp(data-wow-duration='1s' data-wow-delay=".5s")
        .estate-item
          .est-img
            img(src="img/e-i/i1.jpg", alt="")
          .estate-content
            .est-dscr
              ul
                li Магазины
                li Торговые центры
                li Аптеки
        .estate-item
          .est-img
            img(src="img/e-i/i2.jpg", alt="")
          .estate-content
            .est-dscr
              ul
                li Офисы
        .estate-item
          .est-img
            img(src="img/e-i/i3.jpg", alt="")
          .estate-content
            .est-dscr
              ul
                li Шоурумы и склады
        .estate-item
          .est-img
            img(src="img/e-i/i4.jpg", alt="")
          .estate-content
            .est-dscr
              ul
                li Спортивные клубы
        .estate-item
          .est-img
            img(src="img/e-i/i5.jpg", alt="")
          .estate-content
            .est-dscr
              ul
                li Исторические памятники
        .estate-item
          .est-img
            img(src="img/e-i/i1.jpg", alt="")
          .estate-content
            .est-dscr
              ul
                li Гостиницы
        .estate-item
          .est-img
            img(src="img/e-i/i7.jpg", alt="")
          .estate-content
            .est-dscr
              ul
                li Кафе и рестораны


section.offer
  .container
    h2.title
      | Что мы предлагаем?
  .offer-items
    .offer-item
      .o-img
      .o-dscr
        p
          | Проектирование здания и инженерных систем  
    .offer-item
      .o-dscr
        p
          | Проектирование здания и инженерных систем          
      .o-img
    .offer-item
      .o-img
      .o-dscr
        p
          | Проектирование здания и инженерных систем
    .offer-item
      .o-dscr
        p
          | Проектирование здания и инженерных систем          
      .o-img
    .offer-item
      .o-img
      .o-dscr
        p
          | Проектирование здания и инженерных систем
    .offer-item
      .o-dscr
        p
          | Проектирование здания и инженерных систем          
      .o-img    
    .offer-item
      .o-img
      .o-dscr
        p
          | Проектирование здания и инженерных систем
    .offer-item
      .o-dscr
        p
          | Проектирование здания и инженерных систем          
      .o-img    

section.project
  .container-sm
    h2.title
      | Выполненные проекты
    .controls-wrap
      ul.controls-list
        li.controls-item
          a(href="#").controls-link 
            |Все проекты
        li.controls-item
          a(href="#").controls-link 
            |Комплекс
        li.controls-item
          a(href="#").controls-link 
            |Проектирование
        li.controls-item
          a(href="#").controls-link 
            |Генподряд
        li.controls-item
          a(href="#").controls-link 
            |Реконструкция
    .project-items
      .project-item
        .p-img
          img(src="img/proj/p1.jpg", alt="")
        .p-dscr
          .p-content
            h4
              | Москва, ТЦ Саларьево, продуктовый рынок
            p генподряд по строительству 
            ul
              li 2 000 м2
              li 4 месяца

      .project-item
        .p-dscr
          .p-content
            h4
              | Москва, Большая Тульская 15, <br>
              | косметический бутик
            p.
              внутренняя отделка, обновление интерьера <br>
              и выставочных стендов
            ul
              li 120 м2
              li 1 месяц
        .p-img
          img(src="img/proj/p2.jpg", alt="")
      .project-item
        .p-img
          img(src="img/proj/p3.jpg", alt="")
        .p-dscr
          .p-content
            h4
              | Москва, Андреевская Набережная, д. 1
            p.
              реставрация фасадов зданий исторического
              значения: замена и обработка кирпича, зачистка
              швов и окантовок.
            ul
              li 2 500 м2
              li 2 месяца

      .project-item
        .p-dscr
          .p-content
            h4
              | Москва, Малый Головин переулок, д.14
            p реставрация фасада
            ul
              li 1 500 м2
              li 30 дней
        .p-img
          img(src="img/proj/p4.jpg", alt="")
      a(href="#").btn Больше примеров


section.result
  .container-sm  
    h2.title
      | Что вы получите в результате?
    .result-intro 
      p.
        Обратившись к нам, вы получаете не просто помещение, а площадку для развития собственного бизнеса.<br>
        Ваше здание выгодно выделится на фоне других столичных объектов коммерческой недвижимости, <br>
        так как в своей работе мы придерживаемся трех ключевых принципов.
    .result-items
      .result-item
        .r-img
          img(src="img/result/r1.jpg", alt="")
        .r-dscr 
          p.
            Наличие собственного отдела проектирования позволяет нам работать вне рамок шаблонного 
            строительства. Реализации нестандартной планировки предшествует разработка 
            индивидуального проекта. Оформлением фасадов занимается старший дизайнер.
      .result-item
        .r-dscr 
          p.
            Дизайнер интерьера поможет с выбором внутреннего наполнения, учитывая предназначение 
            объекта. За закупку, доставку и выгрузку мебели, а также расходных материалов европейских 
            и российских брендов отвечает отдел поставки и снабжения.
        .r-img
          img(src="img/result/r2.jpg", alt="")
      .result-item
        .r-img
          img(src="img/result/r3.jpg", alt="")
        .r-dscr 
          p.
            Мы строим для бизнеса и понимаем ваши цели. Каждый элемент интерьера и экстерьера 
            функционален. Мы заботимся о слаженной работе техники, оптимальном микроклимате 
            в помещении и эргономичной планировке.оекта. Оформлением фасадов занимается старший дизайнер.

    .result-intro 
      p.
        В рамках каждого проекта мы создаем бесплатную 3D-визуализацию, что позволяет заранее <br>
        согласовать все нюансы планировки и оформления. <br>
        Получите пример 3D-проекта в своей нише и бесплатную консультацию дизайнера!
      a(href="#").btn Получить 3D-проект

section.team
  h2.title
    | О нашей команде
  .team-container
    .container
      .team-wrapper
        .team-left
          p.
            В лице нашей компании вы получаете 
            не просто надежного застройщика.
            Мы явлемся организацией закрытого 
            цикла в состав которой входит 
            6 отделов:
          ul
            li Проектирования 
            li Дизайна 
            li Снабжения и поставки 
            li Строительства
            li Контроля качества 
            li Тендерный отдел
        .team-slider
          #team_slider
            img(src="img/result/sl1.jpg", alt="")
            img(src="img/result/sl2.jpg", alt="")
            img(src="img/result/sl2.jpg", alt="")
        .team-right
          p.
            Обратившись к нам, вы получаете 
            не просто помещение, а площадку 
            для развития собственного бизнеса. 
            Ваше здание выгодно выделится на 
            фоне других столичных объектов 
            коммерческой недвижимости, так как 
            в своей работе мы придерживаемся 
            трех ключевых принципов.

          p.
            Образцы всех материалов представлены 
            в нашем московском шоу-руме 
            площадью 500 м2.